@import "bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Joti+One&display=swap');

body {
  background-size: cover;
  background-color: #070f35;
}

// App Styling

.appBody {
  background-color: #070f35;
}

h1,
h2,
h3,
p {
  color: aliceblue;
}

a {
  text-decoration: none;
  font-weight: bold;
}

// Devise Styling 

.deviseBackground {
  background-color: #070f35;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
  color: white;
}

.deviseHeader {
  color: white;
  text-align: center;
  margin-top: 2rem;

}

.field {
  color: white;
}


//  Header Styling

.header {
  background-image: linear-gradient(
    to right,
    #fa4dc8,
    #fc6b03,
    #ffd230,
    #f9e830
  );
}

#eyeLogo {
  width: 6rem;
}

.headerLinks {
  font-size: 1rem;
  display: inline-block;
}

//  Footer Styling

.footer {
  background-color: #070f35;
  margin-left: 33%;
  margin-right: 33%;
  margin-top: 5rem;
  position: relative;
  left:0;
  bottom:0;
  right:0;
}

#footerText {
  text-align: center;
  color: darkgray;
  font-size: medium;
}

//  Home Page Styling

.homeContainer {
  margin-top: 100px;
  margin-bottom: 100px;
}

#home-phone {
  border-radius: 25px;
  top: 50%;
  width: 100%;
  margin-left: 2rem;
  box-shadow: 0px 0px 25px lightblue;
}

#eventuallyHeader {
  color: #ffff00;
  font-size: 4rem;
  text-align: center;
  font-family: 'Joti One', cursive;
}

.homeText {
  text-align: center;
}

#homeSubText {
  color: aliceblue;
}

.btnDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.button {
  display: inline-block;
  text-align: center;
  font-weight: bold;
  font-size: 1.25rem;
  margin: 0.5rem;
  width: 8rem;
  background-image: linear-gradient(to right, #fa4dc8, #fc6b03);
}

//  About Us Page Styling

.aboutUs {
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 6rem;
}

.aboutPara {
  background: #48577a;
  backdrop-filter: blur(10px);
  margin: 1rem;
  padding: 2rem;
}

.aboutTeam {
  text-align: center;
  margin-top: 2rem;
}

.indexCard {
  margin: 10px;
  height: 30rem;
}

.bioImage {
  height: 14rem;
  object-fit: cover;
}

.cardText {
  color: black;
}

.linkedInButton {
  display: inline-block;
  text-align: center;
  position: relative;
  margin-bottom: 2rem;
  font-weight: bold;
  margin: 0.5rem;
  width: 8rem;
  background-image: linear-gradient(to right, #fa4dc8, #fc6b03);
}

// Not Found Styling

.notFoundText {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.notFoundText {
  animation: glitch 1s linear infinite;
}
@keyframes glitch {
  2%,
  64% {
    transform: translate(2px, 0) skew(0deg);
  }
  4%,
  60% {
    transform: translate(-2px, 0) skew(0deg);
  }
  62% {
    transform: translate(0, 0) skew(5deg);
  }
}

.notFoundText:before,
.notFoundText:after {
  content: attr(title);
  position: absolute;
  left: 0;
}

.notFoundText:before {
  animation: glitchTop 1s linear infinite;
  clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

@keyframes glitchTop {
  2%,
  64% {
    transform: translate(2px, -2px);
  }
  4%,
  60% {
    transform: translate(-2px, 2px);
  }
  62% {
    transform: translate(13px, -1px) skew(-13deg);
  }
}

.notFoundText:after {
  animation: glitchBotom 1.5s linear infinite;
  clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

@keyframes glitchBotom {
  2%,
  64% {
    transform: translate(-2px, 0);
  }
  4%,
  60% {
    transform: translate(-2px, 0);
  }
  62% {
    transform: translate(-22px, 5px) skew(21deg);
  }
}

div.eyes {
  width: 800px;
  height: 200px;
  position: relative;
  animation: myfirst 5s linear 2s infinite alternate;
}

@keyframes myfirst {
  0% {
    left: 13rem;
    width: 20rem;
  }
  25% {
    left: 50rem;
    width: 20rem;
  }
  50% {
    left: 40rem;
    width: 20rem;
  }
  75% {
    left: 25rem;
    width: 10rem;
  }
  100% {
    left: 13rem;
    width: 20rem;
  }
}

// Task Show Styling

.showCard {
  background-color: white;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
  max-width: 30rem;
  box-shadow: 0px 0px 20px lightblue;
}

.showTitle {
  color: black;
  align-items: center;
  font-weight: bold;
  font-size: 2rem;
  background-color: white;
}

.showDetails {
  color: black;
  text-align: center;
  align-items: center;
}

.showFooter {
  align-items: center;
  background-color: white;
}

.goBackButton {
  color: black;
  background-color: #fa4dc8;
}

.updateButton {
  color: black;
  background-color: #fc6b03;
}

.deleteButton {
  color: black;
  background-color: #ffd230;
}

// Task New/Edit Styling

.center-form {
  display: flex;
  justify-content: center;
  margin: 2rem auto;
}

.submitButton {
  margin-left: 33%;
  margin-right: 33%;
  margin-top: 1rem;
  font-weight: bold;
  font-size: 1rem;
  width: 10rem;
}

.newHeader {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
}

.formLabel {
  color: white;
  font-weight: lighter;
  font-size: 1.25rem;
}

.errorDisplay {
  color: #fc6b03;
}

// Task Index Styling 

.task-index {
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
  max-width: 40rem;

}

.taskTitle {
  text-align: center;
}

.createButton {
  margin-left: auto;
  margin-right: auto;
}

.listTitle {
  color: #070f35; 
}