@import 'bootstrap';

// App Styling 

.appBody {
    background-color: #070F35;
}

h3, h4, p {
    color: aliceblue;
}

//  Header Styling

.header {
    background-image: linear-gradient( to right, #fa4dc8, #fc6b03, #ffd230, #f9e830);
}

//  Footer Styling

.footer {
    background-color: #070F35;
    padding-top: 5px;
    padding-bottom: 2px;
}

#footerText {
    text-align: center;
    color: white;
    font-size: medium;
}


//  Home Page Styling

#home-phone {
    width: 450px;
    border-radius: 25px;
    // text-align: center;
    // display: block;
    // justify-content: center;
    // align-items: center;
    // margin: auto;
}